/********************************************************/
/*                   15. Menus styles                   */
/********************************************************/

/* Big green menu */
.big-menu {
    margin: 0;
    min-height: 0;
    list-style-type: none;
}
.big-menu > li,
li.big-menu {
    padding: 16px 15px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    position: relative;
}
.big-menu > li.with-right-arrow,
li.big-menu.with-right-arrow {
    padding-right: 32px;
}
.big-menu > li > span,
li.big-menu > span,
.big-menu > li > a,
li.big-menu > a {
    display: block;
    margin: -16px -15px;
    padding: 16px 15px;
    color: inherit;
//color:expression(this.parentNode.currentStyle['color']);
    position: relative;
}
/* IE7, your mysteries will always amaze me... */
.ie7 li.big-menu > span,
.ie7 li.big-menu > a {
    zoom: 1;
}
.big-menu > li.with-right-arrow > span,
li.big-menu.with-right-arrow > span,
.big-menu > li.with-right-arrow > a,
li.big-menu.with-right-arrow > a {
    margin-right: -32px;
    padding-right: 32px;
}
.big-menu > li > span,
li.big-menu > span,
.big-menu > li > a,
li.big-menu > a {
    cursor: pointer;
    border-left: 0px solid #404040;
    border-left: 0px solid rgba(0, 0, 0, 0.5);
    padding-right: 20px; /* Menu padding + hovered border width */
    -webkit-transition: border-left-width 100ms, padding-right 100ms;
    -moz-transition: border-left-width 100ms, padding-right 100ms;
    -ms-transition: border-left-width 100ms, padding-right 100ms;
    -o-transition: border-left-width 100ms, padding-right 100ms;
    transition: border-left-width 100ms, padding-right 100ms;
}
.no-touch .big-menu > li > span:hover,
.no-touch li.big-menu > span:hover,
.no-touch .big-menu > li > a:hover,
.no-touch li.big-menu > a:hover,
.no-touch .big-menu > li > .current,
.no-touch li.big-menu > .current {
    border-left-width: 4px;
    padding-right: 12px;
}
.no-touch .big-menu > li.with-right-arrow > span:hover,
.no-touch li.big-menu.with-right-arrow > span:hover,
.no-touch .big-menu > li.with-right-arrow > a:hover,
.no-touch li.big-menu.with-right-arrow > a:hover,
.no-touch .big-menu > li.with-right-arrow > .current,
.no-touch li.big-menu.with-right-arrow > .current {
    padding-right: 28px;
}
.no-touch .big-menu > li > .current:before,
.no-touch li.big-menu > .current:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
    border: 5px solid transparent;
    border-left-color: #404040;
}

/* Thin grey menu */
.title-menu {
    margin: 0;
    min-height: 0;
    list-style-type: none;
}
.title-menu > li,
li.title-menu {
    padding: 1px 8px 3px;
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.title-menu > li > a,
li.title-menu > a {
    display: block;
    margin: -2px -8px;
    padding: 2px 8px;
    color: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

/* Calendar events menu */
.calendar-menu {
    margin: 0;
    min-height: 0;
    list-style-type: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}
.calendar-menu > li,
li.calendar-menu {
    padding: 10px 10px 10px 50px;
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    min-height: 40px;
    line-height: 14px;
}
.calendar-menu > li > a,
li.calendar-menu > a {
    display: block;
    margin: -10px -10px -10px -50px;
    padding: 10px 14px 10px 50px;
    min-height: 40px;
    color: inherit;
}
.calendar-menu > li time,
li.calendar-menu time {
    float: left;
    display: block;
    width: 30px;
    margin-left: -40px;
    color: #CCCCCC;
    color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
    line-height: 12px;
}
.calendar-menu > li time > b,
li.calendar-menu time > b {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    line-height: 28px;
    margin-bottom: -3px;
}
.calendar-menu > li small,
li.calendar-menu small {
    display: block;
}

/* Messages menu */
.message-menu {
    margin: 0;
    min-height: 0;
    list-style-type: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}
.message-menu > li,
li.message-menu {
    padding: 9px 65px 10px 30px;
    min-height: 41px;
    color: #4c4c4c;
    font-size: 13px;
    line-height: 14px;
    font-weight: normal;
    position: relative;
}
.message-menu > li > a,
li.message-menu > a {
    display: block;
    margin: -9px -65px -10px -30px;
    padding: 9px 69px 10px 30px;
    min-height: 41px;
    color: #4c4c4c;
    position: relative;
}
.message-status {
    float: left;
    margin: -1px 0 0 -22px;
    width: 16px;
    text-align: center;
}
.message-status > a,
.message-status > span {
    height: 16px;
    font-weight: bold;
}
.message-info {
    position: absolute;
    top: 9px;
    right: 7px;
    width: 50px;
    margin-left: 0;
    list-style-type: none;
    text-align: right;
}
.message-info > a,
.message-info > span {
    display: block;
    float: right;
    height: 16px;
}

.starred, .unstarred, .new-message, .attach {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    width: 16px;
    white-space: nowrap;
}
.starred		{ background: url(../../img/standard/standard/sprites.png) no-repeat 0 -34px; }
a.starred:hover		{ background: url(../../img/standard/standard/sprites.png) no-repeat 0 -50px; }
.unstarred		{ background: url(../../img/standard/standard/sprites.png) no-repeat -16px -34px; }
a.unstarred:hover	{ background: url(../../img/standard/standard/sprites.png) no-repeat -16px -50px; }
.new-message	{ background: url(../../img/standard/standard/sprites.png) no-repeat -32px -34px; }
a.new-message:hover { background: url(../../img/standard/standard/sprites.png) no-repeat -32px -50px; }
.attach			{ background: url(../../img/standard/standard/sprites.png) no-repeat -48px -34px; }
a.attach:hover		{ background: url(../../img/standard/standard/sprites.png) no-repeat -48px -50px; }

.calendar-menu > li > a,
li.calendar-menu > a,
.message-menu > li > a,
li.message-menu > a {
    border-left: 0px solid #404040;
    border-left: 0px solid rgba(0, 0, 0, 0.5);
    -webkit-transition: border-left-width 100ms, padding-right 100ms;
    -moz-transition: border-left-width 100ms, padding-right 100ms;
    -ms-transition: border-left-width 100ms, padding-right 100ms;
    -o-transition: border-left-width 100ms, padding-right 100ms;
    transition: border-left-width 100ms, padding-right 100ms;
}
.no-touch .calendar-menu > li > a:hover,
.no-touch li.calendar-menu > a:hover,
.no-touch .message-menu > li > a:hover,
.no-touch li.message-menu > a:hover {
    border-left-width: 4px;
}
.no-touch .calendar-menu > li > a:hover,
.no-touch li.calendar-menu > a:hover {
    padding-right: 10px;
}
.no-touch .message-menu > li > a:hover,
.no-touch li.message-menu > a:hover {
    padding-right: 65px;
}

.message-menu > li > .message-status + a,
li.message-menu > .message-status + a,
.message-menu > li > .message-info + a,
li.message-menu > .message-info + a {
    margin: 0;
    padding: 0 10px 0 0;
    -webkit-transition: border-left-width 100ms, padding-left 100ms, padding-right 100ms;
    -moz-transition: border-left-width 100ms, padding-left 100ms, padding-right 100ms;
    -ms-transition: border-left-width 100ms, padding-left 100ms, padding-right 100ms;
    -o-transition: border-left-width 100ms, padding-left 100ms, padding-right 100ms;
    transition: border-left-width 100ms, padding-left 100ms, padding-right 100ms;
}
.no-touch .message-menu > li > .message-status + a:hover,
.no-touch li.message-menu > .message-status + a:hover,
.no-touch .message-menu > li > .message-info + a:hover,
.no-touch li.message-menu > .message-info + a:hover {
    padding-left: 6px;
    padding-right: 0;
}

/* Navigable menus classes */
.navigable {
    overflow: hidden;
    position: relative;
    padding: 0;
}
.navigable > .load {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10%;
    padding: 0;
    margin: 0;
    cursor: wait;
    background: black url(../../img/standard/standard/loaders/loading16_anthracite.gif) no-repeat center 4px;
}
.navigable ul.fixed {
    position: absolute;
    left: 0;
    width: 100%;
}
.navigable ul ul {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    display: none;
}
.navigable-ajax,
.navigable-ajax-loaded {
    cursor: pointer;
}

/* Collapsible menus */
.collapsible ul {
    display: none;
    position: relative;
}
.collapsible li > .load {
    display: block;
    padding: 0;
    margin: 0;
    height: 24px;
    cursor: wait;
    background: black url(../../img/standard/standard/loaders/loading16_anthracite.gif) no-repeat 4px 4px;
}

/* Substyles tweaks */
.collapsible.big-menu > li > ul,
.collapsible li.big-menu > ul,
.collapsible .big-menu > li > ul,
.collapsible.big-menu > li > .load,
.collapsible li.big-menu > .load,
.collapsible .big-menu > li > .load {
    margin: 16px -15px -16px;
    -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.no-boxshadow .collapsible.big-menu > li > ul,
.no-boxshadow .collapsible li.big-menu > ul,
.no-boxshadow .collapsible .big-menu > li > ul,
.no-boxshadow .collapsible.big-menu > li > .load,
.no-boxshadow .collapsible li.big-menu > .load,
.no-boxshadow .collapsible .big-menu > li > .load {
    border-top: 1px solid #666666;
}
.collapsible li.with-left-arrow:after,
.collapsible li.with-right-arrow:after {
    top: 25px;
}
/* IE7 */
.collapsible .with-arrow-after {
    top: 25px;
}
.collapsible.big-menu > li.with-right-arrow > ul,
.collapsible li.big-menu.with-right-arrow > ul,
.collapsible .big-menu > li.with-right-arrow > ul,
.collapsible.big-menu > li.with-right-arrow > .load,
.collapsible li.big-menu.with-right-arrow > .load,
.collapsible .big-menu > li.with-right-arrow > .load {
    margin-right: -32px;
}

/* Back element */
.back {
    position: relative;
    padding: 16px 15px 16px 32px;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 10px black;
    -moz-box-shadow: inset 0 1px 10px black;
    box-shadow: inset 0 1px 10px black;
}
.back > .back-arrow {
    display: block;
    width: 11px;
    height: 9px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 11px;
    background: url(../../img/standard/standard/sprites.png) no-repeat -187px 0px;
}
