
/********************************************************/
/*                     22. Tooltips                     */
/********************************************************/

/* Root elements */
#tooltips,#tooltips-over {
    position: absolute;
    top: 0;
    left: 0;
}

#tooltips {
    z-index: 999100;
}

#tooltips-over {
    z-index: 999500;
}

#tooltips .message,#tooltips-over .message {
    position: absolute;
    white-space: nowrap;
    max-width: 300px;
}

/* Tooltips inserted inside some elements */
.message.inner-tooltip {
    position: absolute;
    display: block;
    left: 50%;
    bottom: 100%;
    text-align: center;
    margin: 0 0 10px 0;
    min-width: 16px;
    max-width: 250px;
    z-index: 89;
    pointer-events: none;
    white-space: nowrap;
}

.message.inner-tooltip.right {
    left: 100%;
    top: 50%;
    bottom: auto;
    margin: -15px 0 0 10px;
}

.message.inner-tooltip.bottom {
    top: 100%;
    bottom: auto;
    margin: 10px 0 0 0;
}

.message.inner-tooltip.left {
    left: auto;
    right: 100%;
    top: 50%;
    bottom: auto;
    margin: -15px 10px 0 0;
}

.message.inner-tooltip.right.compact,.message.inner-tooltip.left.compact
{
    margin-top: -10px;
}
